.contact{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    max-width: 1400px;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing:border-box;
    position: relative;

    h1{
        font-size: 60px;
        font-family: 'Titan One', cursive;;
        line-height: 5px;
        text-align: center;
    }

    h2{
        font-size: 30px;
        line-height: 5px;
        text-align: center;
        margin-bottom: 75px;
    }

    h3{
        font-size: 25px;
        line-height: 5px;
        text-align: left;
    }

    p{
        font-size: 20px;
        text-align: left;
    }
}