#menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    li{
      margin-left: 36px;

      .button{
        cursor: pointer;
        
      }
      .button:hover{
        color: #1ed760;
      }

      .button2{
        cursor: pointer;
        color: rgb(204, 204, 204);
      }
      .button2:hover{
        color: #1ed760;
      }

      .separator{
        font-weight: lighter;
      }
    }

    
  }