#splash_screen{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    z-index: -1;

    .bg{
        position: relative;
        left: 50%;
        top: -410px;
        transform: translate(-50%,0);
        width: 1610px;
        overflow: hidden;
        z-index: 0;
    }

    #title{
        color: white;
        position: absolute;
        top: 47%; left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        
        h1{
            letter-spacing: -2px;
            font-size: 77px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
        }

        h2{
            font-weight: bold;
            font-size: 18px;
            margin-top: -45px;
        }

        .button{
            margin-top: 10px;
        }
    }
}
