.display{
    text-align: right;
    justify-content: right;
    font-size: 45px;
    letter-spacing: 5px;
    background-color: aliceblue;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 16px;
    margin-top: 4px;
}