@import url('https://fonts.googleapis.com/css?family=Mandali|Titan+One&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: linear-gradient(rgb(243, 243, 243) -60%, rgb(206, 206, 206) 140%);
    font-family: 'Mandali', sans-serif;
    font-weight: bold;
}
