.key {
	width: 100px;
	height: 100px;
    margin: 2px 0;
    background-color: aqua;

    font-size: 30px;
    font-weight: bold;;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    cursor: pointer;
    user-select: none;
}