@import url('https://fonts.googleapis.com/css?family=Mandali|Titan+One&display=swap');

$black-color: black;
$white-color: white;
$grey-color: rgb(136, 136, 136);

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: $white-color;
    background-image: linear-gradient(rgb(243, 243, 243) -60%, rgb(206, 206, 206) 140%);
    font-family: 'Mandali', sans-serif;
    font-weight: bold;
}

.main{
    width: 100%;
}